/* 
Código Hexadecimal verde: #8EC641
Código Hexadecimal gris footer: #3B3B3B
*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Raleway";
	font-size: 16px;
}

.background-1 {
	background: url("../img/fondo-bienvenida.jpg");
	background-size: cover;
	background-position: center;
	padding: 50px 0;
}

.logo-center {
	text-align: center;
}

.video {
	text-align: center;
	background-color: black;
	padding: 0 50px;
}


.background-3 {
   background: url("../img/fondo-about.jpg");
   background-size: cover;
   background-position: center;
   padding: 50px 0;
}

.tea-passion * {
	color: white;
}

.tea-passion h1 {	
	font-weight: bold;
	font-size: 80px !important;
	padding: 0 300px;
}

.tea-passion p {	
	padding: 0 300px;
	font-size: 20px;
	padding-bottom: 20px;
}


.logo-encabezado {
	padding: 20px 80px;
}

.tipo-de-te p {
	color: black;
	text-align: center;
}

.tipo-de-te h2 {
	color: pink;
	text-align: center;
	font-weight: bold;

}

.tipo-de-te {
	padding: 20px 0 20px 0;
}

.background-4 {
   background: url("../img/disfruta.jpg");
   background-size: cover;
   background-position: center;
   padding: 50px 0;
}

.preguntas h2 {
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 70px;
	margin-bottom: 190px;
}

.info-title, .info-text {
	text-align: center;
}

.info-title {
	padding-top: 20px;
	font-size: 30px;
	padding: 20px 20px 0 20px;
}

.info-text {
	padding-bottom: 20px;
	padding: 30px;
}

.center, .icon {
	text-align: center;
}

.center {
	padding: 50px;
}

.icon {
	padding: 80px;
}


.amarillo {
	background-color: #eee8ac;
}

.verde {
	background-color: #8cc63e;
}

.rosado {
	background-color: #ec9a9a;
}


.background-5 {
   background: url("../img/parallax-4.jpg");
   background-size: cover;
   background-position: center;
   padding: 50px 0;
}

.info-title-2, .info-text-2, .lineal {
	padding: 30px;
}

hr { 
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    border-width: 8px;
    border-color: black;
    width: 105px;
} 


footer {
	background-color: #373936;
	color: white;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}